.testExecutorContainer
	button.btn.btn-success(data-new-status='Passed')
		span.glyphicon.glyphicon-thumbs-up(area-hidden='true')
	button.btn.btn-danger(data-new-status='Failed')
		span.glyphicon.glyphicon-thumbs-down(area-hidden='true')
	button.btn.btn-info(data-new-status='')
		span.glyphicon.glyphicon-remove(area-hidden='true')