.testExecutorContainer
	button.btn.btn-success
		span.glyphicon.glyphicon-thumbs-up(area-hidden='true')
	button.btn.btn-danger
		span.glyphicon.glyphicon-thumbs-down(area-hidden='true')
	button.btn.btn-info
		span.glyphicon.glyphicon-remove(area-hidden='true')