.loginForm.container
	form.form-horizontal
		.form-group
			label(for='username').col-sm-2.control-label Login
			.col-sm-10
				input(placeholder='Login')#username.form-control
		.form-group
			label(for='password').col-sm-2.control-label Password
			.col-sm-10
				input(placeholder='Password', type='password')#password.form-control
		.form-group
			.col-xs-12
				input(type='button', value='Sign in')#loginButton.col-xs-12.btn.btn-primary