.loginForm.container
	form.form-horizontal
		.form-group
			label(for='username').col-xs-2.control-label Login
			.col-xs-10
				input(placeholder='Login')#username.form-control
		.form-group
			label(for='password').col-xs-2.control-label Password
			.col-xs-10
				input(placeholder='Password')#password.form-control
		.form-group
			.col-xs-12
				input(type='button', value='Sign in')#loginButton.col-xs-offset-4.col-xs-4.btn.btn-primary