.mainForm.container
	.row
		.col-xs-12
			form.form-horizontal
				.form-group
					label(for='context').col-sm-2.control-label Context
					.col-sm-10
						input(placeholder='Context')#context.form-control
				.form-group
					.col-xs-12
						input(type='button', value='Draw buttons')#drawbuttons.col-xs-5.btn.btn-primary
						input(type='button', value='Logout')#logout.col-xs-offset-2.col-xs-5.btn.btn-warning