doctype html
html
	head
		title Popup Page
		link(rel='stylesheet', href='../bower/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='../css/popup.css')
		script(src='../bower/jquery/dist/jquery.min.js')
		script(src='../js/popup.js')
	body
		#overlap
			img(src='../img/throbber.gif')#throbber
		include loginForm.jade
		include mainForm.jade
		include statusForm.jade