.statusForm.container
	.row
		.col-xs-6 Page ID
		.col-xs-6#sfPageId
	.row
		.col-xs-6 Page Version
		.col-xs-6#sfPageVersion
	.row
		.col-xs-6 Issue ID
		.col-xs-6#sfIssueId
	.row
		.col-xs-12 &nbsp;
	.row
		.col-xs-6 Amount of tests
		.col-xs-6#sfAmountOfTests
	.row
		.col-xs-6 Passed
		.col-xs-6#sfPassed
	.row
		.col-xs-6 Failed
		.col-xs-6#sfFailed
	.row
		.col-xs-6 Not checked yet
		.col-xs-6#sfNotCheckedYet
	.row
		.col-xs-12 &nbsp;
	.row
		.col-xs-12
			input(type='button', value='Send to Jira')#sendtojira.col-xs-5.btn.btn-success
			input(type='button', value='New context')#changecontext.col-xs-offset-2.col-xs-5.btn.btn-warning