.statusForm.container
	.row
		.col-xs-6 Page ID
		.col-xs-6 Page ID
	.row
		.col-xs-6 Page Version
		.col-xs-6 Page Version
	.row
		.col-xs-6 Issue ID
		.col-xs-6 Issue ID
	.row
		.col-xs-12 &nbsp;
	.row
		.col-xs-6 Amount of tests
		.col-xs-6 Amount of tests
	.row
		.col-xs-6 Passed
		.col-xs-6 Passed
	.row
		.col-xs-6 Failed
		.col-xs-6 Failed
	.row
		.col-xs-12 &nbsp;
	.row
		.col-xs-12
			input(type='button', value='Change context')#changecontext.col-xs-offset-6.col-xs-6.btn.btn-warning