.statusForm.container
	.row
		.col-xs-6 Page ID
		.col-xs-6#sfPageId Page ID
	.row
		.col-xs-6 Page Version
		.col-xs-6#sfPageVersion Page Version
	.row
		.col-xs-6 Issue ID
		.col-xs-6#sfIssueId Issue ID
	.row
		.col-xs-12 &nbsp;
	.row
		.col-xs-6 Amount of tests
		.col-xs-6#sfAmountOfTests Amount of tests
	.row
		.col-xs-6 Passed
		.col-xs-6#sfPassed Passed
	.row
		.col-xs-6 Failed
		.col-xs-6#sfFailed Failed
	.row
		.col-xs-12 &nbsp;
	.row
		.col-xs-12
			input(type='button', value='Send to Jira')#sendtojira.col-xs-5.btn.btn-success
			input(type='button', value='New context')#changecontext.col-xs-offset-2.col-xs-5.btn.btn-warning