html, body {
    width: 300px;
    padding-top: 5px;
}
.loginForm, .mainForm, .statusForm {
    display: none;
}
#overlap {
    width: 100%;
    height: 100%;
	position: fixed;
    display: flex;
	z-index: 999;
    background-color: #ffffff;
}
#overlap img {
	margin: auto;
}